/* * {
	border: 1px solid red;
} */

body {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 30px;
}

header {
	margin-bottom: 20px;
}
.weather-body {
	padding: 20px;
	border-radius: 10px;
}

.past-search {
	margin-right: 5px;
    margin-bottom: 5px
}

.form-control {
	margin-bottom: 5px;
}
